.gallery {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.gallery-img {
    margin: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-basis: auto;
    box-shadow: 3px 3px 4px var(--shadow), 5px 5px 0 var(--accent-border);
    border: 5px solid var(--accent-border);
}

.gallery-xn {
    width: 15%;
}

.gallery-n {
    width: 20%;
}

.gallery-m {
    width: 25%;
}

.gallery-w {
    width: 30%;
}

.gallery-xw {
    width: 45%;
}

.gallery-img:hover {
    transform: scale(1.05);
}

