.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    gap: 3rem;
    margin-bottom: 3rem;
}

.gallery-img {
    opacity: 70%;
    display: flex;
    flex-basis: auto;
    box-shadow: 3px 3px 4px var(--shadow), 5px 5px 0 var(--accent-border);
    border: 5px solid var(--accent-border);
}

.gallery-img:hover {
    transform: scale(1.3);
    opacity: 1;
    z-index: 100;
    box-shadow: 0 0 0;
}

.gallery-xn {
    width: 15%;
}

.gallery-xn:hover {
    transform: scale(1.75);
}

.gallery-n {
    width: 20%;
}

.gallery-m {
    width: 25%;
}

.gallery-w {
    width: 30%;
}

.gallery-xw {
    width: 45%;
}

.gallery-xw:hover {
    transform: scale(1.2);
}

.line {
    width: 100%;
    rotate: -2deg;
    margin-bottom: 1rem;
}

