h1, h2 {
    margin: 0.25rem 0.25rem 0.5rem 0.25rem;
    color: var(--text-h);
}

h3 {
    margin: 1rem 0.25rem 0.5rem 0.25rem;
    border-top: 1px solid var(--border);
    padding-top: 0.5rem;
}

h4 {
    margin: 1rem 0 0.5rem 0;

}

a, p, ul {
    margin: 0;
}

table {
    margin: 2rem;
}

td {
    padding: 0.5rem;
    border-top: 1px groove var(--border);
}

.ar {
    text-align: left;
    font-weight: bold;
    border-right: 1px groove var(--border);
    padding-right: 1rem;
}

.website-header {
    width: 100%;
}

.section-card {
    border: 1px outset var(--border);
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: var(--accent-bg);
    opacity: 90%;
    box-shadow: 1px 1px 2px var(--shadow), 2px 2px 5px var(--accent-bg);
}

.date-chip {
    background-color: var(--chip-bg);
    font-style: italic;
    max-width: max-content;
    min-width: 0;
    padding: 2px 8px 2px 8px;
    border-radius: 5px;
    border: 1px solid var(--border);
}

.explanation {
    font-style: italic;
}