:root {
    --text: #9EC5AB;
    --text-h: #FFC857;
    --bg: #16171d;
    --border: #3F3647;
    --code-bg: #002400;
    --accent: #9EC5AB;
    --accent-bg: #111611;
    --accent-border: #83BCA9;
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:  #270029;

    --primary: "Courier", serif;

    font: 110% var(--primary);
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {

    #social .button-icon {
        filter: invert(1) brightness(2);
    }
}

body {
    margin: 1rem 2rem 1rem 2rem;
}

#root {
    width: 1126px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
